
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="landing is-preload">
    <!-- Banner -->
			<section id="banner">
				<div class="content">
					<div class="inner">
						<header>
							<h2>Amet donec nullam fermentum</h2>
							<p>Sed magna in pharetra ultricies dolor sit consequat magna.</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button huge">Learn More</a></li>
						</ul>
					</div>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<ul class="features">
						<li>
							<h3 class="icon style1 fa-area-chart">Integer vitae consequat sed magna feugiat</h3>
							<p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>
						</li>
						<li>
							<h3 class="icon style2 fa-pie-chart">Phasellus libero eu sed augue gravida</h3>
							<p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>
						</li>
						<li>
							<h3 class="icon style3 fa-cube">Lacus ultricies sagittis mi dui dapibus</h3>
							<p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>
						</li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper cta">
				<div class="inner">
					<header>
						<h2>Ultrices ante sagittis nunc senectus libero netus</h2>
						<ul class="actions">
							<li><a href="#" class="button big">How it works</a></li>
						</ul>
					</header>
					<p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis. Lorem ipsum ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur.</p>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="major">
						<h2>Convallis amet interdum</h2>
						<p>Sed magna in pharetra ultricies dolor sit amet consequat adipiscing lorem.</p>
					</header>
					<div class="posts">
						<section class="post">
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
							<div class="content">
								<h3>Ultricies sed lorem</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
						<section class="post">
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
							<div class="content">
								<h3>Imperdiet egestas</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
						<section class="post">
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
							<div class="content">
								<h3>Urna varius</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
						<section class="post">
							<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
							<div class="content">
								<h3>Elit ligula commodo</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
						<section class="post">
							<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
							<div class="content">
								<h3>Rutrum sed erat</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
						<section class="post">
							<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
							<div class="content">
								<h3>Cubilia metus</h3>
								<p>Lorem ipsum dolor sit amet interdum arcu pulvinar lorem ipsum sed feugiat etiam sed magna adipiscing.</p>
								<a href="#" class="button">More</a>
							</div>
						</section>
					</div>
				</div>
			</section>
      <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>
